<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/public/js/jquery-3.1.1.min.js"></script>
</head>
<body>
hello {{.name}}!
<input name="username" data-node="dingdayu" />
</body>
<script type="text/javascript">
    var user = $("[name='username']").data('node');

    if (window["WebSocket"]) {
        conn = new WebSocket("ws://{{.WebSocketHost}}/websocket?token=1");
        conn.onopen = function() {
            console.log("connn websocket")
        };

        conn.onmessage = function(evt) {
            var data = JSON.parse(evt.data);
            switch(data.MType) {
                case "text_mtype":
                    addMessage(data.TextMessage)
                    break;
                case "status_mtype":
                    updateUsers(data.UserStatus)
                    break;
                default:
            }
        };

        conn.onerror = function() {
            errorMessage("<strong> An error just occured.<strong>")
        };

        conn.onclose = function() {
            errorMessage("<strong>Connection closed.<strong>")
        };
    } else {
        errorMessage("Your browser does not support WebSockets.");
    }
</script>
</html>