<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/public/js/jquery-3.1.1.min.js"></script>
</head>
<body>
hello {{.name}}!
<input name="username" data-node="dingdayu" />
</body>
<script type="text/javascript">
    if (window["WebSocket"]) {
        conn = new WebSocket("ws://{{.WebSocketHost}}/websocket");
        conn.onopen = function() {
            console.log("connn websocket")
        };

        conn.onmessage = function(evt) {
            var data = JSON.parse(evt.data);
            if(data.code == 401) {
                location.href = "/login"
            }
            switch(data.Content.Type) {
                case "text_mtype":
                    //addMessage(data.TextMessage);
                    console.log("收到消息：" + data.Content.Data);
                    break;
                case "OnlineNotice":
                    //updateUsers(data.UserStatus)
                    console.log("新用户上线");
                    break;
                default:
            }
        };

        conn.onerror = function() {
            //location.reload()
            alert("连接异常")
        };

        conn.onclose = function() {
            alert("连接已断开")
        };
    } else {
        alert("Your browser does not support WebSockets.");
    }

    $('input[name=username]').bind('keypress',function(event){
        if(event.which === 13)
        {
            var msg = $('input[name=username]').val();
            conn.send(JSON.stringify({Type: "text_mtype", Data: msg}));
            console.log("发送消息：" + msg)
            $('input[name=username]').val("")
        }

    });
</script>
</html>